tmp/
pro_zips/
.DS_Store
.Rproj.user/
# source ZIPs - too big to put in github
zips/
.Rproj.user
.RData
.Rhistory
# output not to track
merge_proposal_zips.html
# version with git hash added - created as part of release process
version_git.txt
# tmp files
nohup.out
# ----------------------------------------------------------------------
# testResults & testResultsDocker
# ----------------------------------------------------------------------
#
# only store "regresion.tsv" output file, which is stripped of version numbers
# Don't store end-user XLSX output report, nor machine-readable output (with version) used by web app
#
#
# web-app parsed output
#
QC.summary.tsv
#
# end-user readable output
#
QC.pretty_summary.all.xlsx
#
# new output from this regression QC run
#
# We check in 
#   QC.regression.tsv 
# but running tests creates
#   QC.regression.new.tsv 
# so we can diff them 
*.new.*
*.diff
*.diff.*
*.dwdiff.*
*.dwdiff

